
.body {
    background-color: #A4DAEB;
    width: auto;
}

.sep-line {
    height: 2px;
    background-color: white;
}

.flex-box-user {
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-left: 60px;
}

.user-display {
    padding-bottom: 10px;
}

.white-circle {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

  .username-tag {
    font-weight: bold;
    padding-bottom: 10px;
  }

 .edit-profile {
    background-color: #6074BE;
 }

 .flex-box-recipes {
     /* background-color: red; */
     justify-content: center;
     align-items: center;
     margin: 40px;
     margin-left: 60px;
          
 }

  .popular-recipes-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    margin-left: 200px;
    column-gap: 200px; /* Adjust the gap between items */
    row-gap: 100px;
  }
  
  .popular-recipes-grid-item {
    /* Additional styling for grid items, if needed */
    background-color: #f0f0f0;
    padding: 100px;
    width: 400px;
    height: 80px;
    text-align: center;
  }
  
  .popular-recipes-grid-item:hover {
    background-color: #e0e0e0; /* Change background color on hover */
  }

  .contribution {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .big-rectangle {
    width: 1000px;
    height: 200px;
    background-color: #23899F; /* Example background color, customize as needed */
  }
  