.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #a4daeb;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-unstyled li {
  margin-right: 0px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
